# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store

# C Extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# venv files
venv*
venv/*
# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea/*

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation echo
docs/_build/
# Environment Variables
.env*
